{{page-title "Hardware inventory"}}

<h2 id="title">Hardware inventory</h2>

<nav>
  <LinkTo @route="people">People</LinkTo>
  <LinkTo @route="individual-products">Individual products</LinkTo>
  <LinkTo @route="transactions">Transactions</LinkTo>
  <LinkTo @route="count">Triple count</LinkTo>
  <LinkTo @route="files">Files</LinkTo>
</nav>

{{outlet}}
